
/*Variables*/

$color-primary-3: #E0DACD;
$color-primary-1: #F2DD78;
$color-primary-2: #3F3A34;
$color-secondary-1: #817A6E;
$transparent: transparent;


@mixin div-bg ($width, $color){
	padding-top: 60px;
	padding-bottom: 60px;
  width: $width;
  background-color: $color;
  overflow: hidden;
}

@mixin h1-font {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 4.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.6;
  color: #3F3A34;
}

@mixin h2-font {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 2.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.5;
  color: #3F3A34;
  margin-bottom: 5px;
  margin-top: 5px;
}

@mixin h3-font {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.5;
  color: #3F3A34;
  margin-top: 10px;
  margin-bottom: 10px;
 }

@mixin p-font {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  color: #3F3A34;
  max-width: 550px;
}

@mixin footer-font {
  max-width: 100%;
  font-size: 1.8em;
  color: #FFF;
  text-align: center;
}

@mixin link-style($color, $color-hover){
  color: #3F3A34;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: $color;

  &:hover {
    text-decoration: underline;
    color: $color-hover;  
  }
}

@mixin button-style ($color, $background-color) {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  padding: 18px;
  border-radius: 5px;
  color: $color;
  background-color: $background-color;
  border: 3px outset $background-color;
  outline: none;

  &:hover{
  color: $background-color;
  background-color: $color;
  }
}

@mixin header-style {
  @include div-bg(100%, $transparent);
  background-image:url(../assets/img_global/greenvilledowntown1.jpg);
  background-size: cover;

  .logo{
  float: left;
  }
} 
