/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Variables*/
div, header, nav, section, article, aside, footer, figure, hr {
  position: relative; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, .subpage {
  background-color: #E0DACD; }

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }

h1 {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 4.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.3;
  color: #3F3A34; }

h2 {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 2.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.6;
  color: #3F3A34;
  margin-bottom: 5px; }

h3 {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.6;
  color: #3F3A34;
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #3F3A34;
  max-width: 550px;
  margin-bottom: 25px; }

a {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  max-width: 550px;
  text-decoration: underline;
  color: #3F3A34; }
  a:hover {
    text-decoration: none;
    color: #3F3A34; }

.clear {
  clear: both; }

.subpage {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #E0DACD;
  overflow: hidden; }

/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/
header {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  background-color: #f6e9a7; }

.menu {
  border: #3F3A34 solid 2px;
  border-radius: 5px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  padding: 12px;
  background-color: transparent;
  margin-bottom: 30px;
  float: right;
  outline: none; }
  .menu:hover {
    background-color: #3F3A34;
    color: #F2DD78; }

.logo {
  max-width: 200px;
  margin: 0 auto 50px auto; }

.global-aside {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #3F3A34;
  overflow: hidden; }

.global-address h3 {
  color: #F2DD78; }
.global-address p {
  color: #FFF;
  border-bottom: 1px solid #F2DD78;
  padding-bottom: 30px; }
.global-address a {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  max-width: 550px;
  text-decoration: underline;
  color: #FFF;
  display: block;
  margin-bottom: 0; }
  .global-address a:hover {
    text-decoration: none;
    color: #F2DD78; }
.global-address button {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  padding: 18px;
  border-radius: 5px;
  color: #3F3A34;
  background-color: #F2DD78;
  border: 3px outset #F2DD78;
  outline: none;
  display: block;
  width: 233px;
  margin-top: 30px; }
  .global-address button:hover {
    color: #F2DD78;
    background-color: #3F3A34; }

nav {
  display: none; }

.column-left, .column-right {
  width: 100%;
  margin-right: 0;
  float: none; }

 /*
  ========================================
  GLOBAL Photos
  ========================================
*/
.index-row, .row {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  background-image: url(../assets/img_global/stripepattern1.jpg);
  background-repeat: repeat;
  border-top: 3px solid #3F3A34;
  border-bottom: 3px solid #3F3A34; }
  .index-row .index-photo-wrap, .index-row .photo-wrap, .row .index-photo-wrap, .row .photo-wrap {
    max-width: 960px;
    margin: 0 auto; }
  .index-row img, .row img {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 5px; }
  .index-row .photo-1, .row .photo-1 {
    margin-left: 0; }

h1 {
  margin-top: 30px; }

/*
  ========================================
  GLOBAL Home
  ========================================
*/
.welcome .location {
  display: none; }
.welcome h2 {
  font-size: 2.5em; }
.welcome button {
  margin-top: 30px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  padding: 18px;
  border-radius: 5px;
  color: #F2DD78;
  background-color: #3F3A34;
  border: 3px outset #3F3A34;
  outline: none; }
  .welcome button:hover {
    color: #3F3A34;
    background-color: #F2DD78; }

.below-fold {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #E0DACD;
  overflow: hidden;
  overflow: hidden; }

.index-copy a:hover {
  font-weight: bold; }

iframe {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  display: block;
  margin-top: 30px;
  border: 3px #3F3A34 solid; }

.address {
  display: none; }

/*
  ========================================
  GLOBAL About
  ========================================
*/
.about h2 {
  margin-top: 30px; }
.about .first {
  margin-top: 0; }
.about span {
  font-weight: bold; }
.about li {
  display: inline-block;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  line-height: 1.3em;
  vertical-align: middle;
  padding-left: 2.2em;
  background-image: url(../assets/icons_global/toothservices.png);
  background-repeat: no-repeat;
  line-height: 30px;
  margin-left: 1em;
  margin-top: 20px; }

/*
  ========================================
  GLOBAL Services
  ========================================
*/
.services {
  overflow: hidden; }
  .services li {
    display: inline-block;
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1.8em;
    font-style: normal;
    font-variant: normal;
    line-height: 1.3em;
    vertical-align: middle;
    padding-left: 2.2em;
    background-image: url(../assets/icons_global/toothservices.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 130px;
    float: left;
    margin-bottom: 40px;
    margin-right: 5%; }

/*
  ========================================
  GLOBAL Financial  ========================================
*/
.sidenote {
  font-style: italic;
  font-size: 12px;
  display: block; }

.financial {
  border-top: 3px solid #3F3A34; }

/*
  ========================================
  GLOBAL Patients
  ========================================
*/
.patients h2 {
  margin-top: 30px; }
.patients .first {
  margin-top: 0; }
.patients ul {
  margin-bottom: 20px;
  padding-left: 3em; }
.patients .list {
  margin-bottom: 0px; }
.patients li {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #3F3A34;
  max-width: 550px;
  margin-bottom: 25px;
  list-style-type: disc;
  line-height: 1.6; }
.patients button {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.8em;
  padding: 18px;
  border-radius: 5px;
  color: #F2DD78;
  background-color: #3F3A34;
  border: 3px outset #3F3A34;
  outline: none;
  display: block;
  margin: 30px 0 20px 0px; }
  .patients button:hover {
    color: #3F3A34;
    background-color: #F2DD78; }
.patients .button-1 {
  margin-left: 0; }

/*
  ========================================
  GLOBAL Footer
  ========================================
*/
.chamber {
  padding-top: 50px; }

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #3F3A34;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer .second-footer {
    display: none; }

.global-footer p {
  max-width: 100%;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.6;
  color: #FFF; }
.global-footer a {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  max-width: 550px;
  text-decoration: underline;
  color: #FFF; }
  .global-footer a:hover {
    text-decoration: none;
    color: #F2DD78; }

@media screen and (min-width: 35em) {
  /*header*/
  .menu {
    display: none; }

  header {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    background-image: url(../assets/img_global/greenvilledowntown1.jpg);
    background-size: cover;
    overflow: hidden; }

  .welcome .location {
    display: block; }

  .logo {
    display: block;
    margin: 0 0 20px 0;
    float: left; }

  .global-aside {
    display: none; }

  nav {
    display: block;
    width: 100%;
    float: right;
    max-width: 500px; }
    nav ul {
      border-top: 2px solid #3F3A34;
      overflow: hidden; }
    nav li {
      display: block;
      float: right;
      padding: 1.25%; }
    nav a {
      font-weight: bold;
      display: block;
      text-decoration: none; }
      nav a:hover {
        text-decoration: underline;
        color: #3F3A34; }
    nav img {
      display: block;
      text-align: center;
      margin: 10px auto; }
    nav .nav-icon {
      display: none; }

  /*row*/
  .index-row {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: #3F3A34;
    overflow: hidden;
    background-image: none;
    border: none; }
    .index-row img {
      width: 48%;
      margin-bottom: 20px;
      float: left;
      border-radius: 5px; }
      .index-row img:nth-of-type(2n) {
        margin-left: 2%; }

  .row {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    background-image: url(../assets/img_global/stripepattern1.jpg);
    background-repeat: repeat;
    border-top: 3px solid #3F3A34;
    border-bottom: 3px solid #3F3A34; }
    .row img {
      width: 47%;
      margin-bottom: 20px;
      float: left;
      border-radius: 5px;
      margin-left: 0; }
      .row img:nth-of-type(2) {
        margin-left: 6%; }

  /*sections*/
  .below-fold {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    background-image: url(../assets/img_global/stripepattern1.jpg);
    background-repeat: repeat;
    border-top: 3px solid #3F3A34;
    border-bottom: 3px solid #3F3A34; }

  .index-copy {
    background-color: #E0DACD;
    border-radius: 10px;
    padding: 20px; }

  .address {
    margin: 50px 0;
    width: 80%;
    max-width: 400px;
    display: block;
    background-color: #3F3A34;
    border-radius: 10px;
    padding: 30px 8%; }
    .address h3 {
      color: #F2DD78; }
    .address p {
      color: #FFF;
      border-bottom: 1px solid #F2DD78;
      padding-bottom: 20px; }
    .address a {
      font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
      font-size: 18px;
      line-height: 1.6;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      max-width: 550px;
      text-decoration: underline;
      color: #FFF;
      display: block;
      margin-bottom: 0; }
      .address a:hover {
        text-decoration: none;
        color: #F2DD78; }
    .address button {
      font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
      font-size: 1.8em;
      padding: 18px;
      border-radius: 5px;
      color: #3F3A34;
      background-color: #F2DD78;
      border: 3px outset #F2DD78;
      outline: none;
      margin: 20px auto; }
      .address button:hover {
        color: #F2DD78;
        background-color: #3F3A34; }

  iframe {
    max-width: 500px; }

  .patients button {
    float: left;
    margin-right: 10px; }

  /*footer*/
  footer .global-footer {
    display: none; }
  footer .second-footer {
    display: block; }
  footer .second-footer p {
    max-width: 100%;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.6;
    color: #FFF; }
  footer .second-footer a {
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    max-width: 550px;
    text-decoration: underline;
    color: #FFF; }
    footer .second-footer a:hover {
      text-decoration: none;
      color: #F2DD78; } }
@media screen and (min-width: 53em) {
  nav {
    max-width: 520px; }
    nav li {
      padding: 1.75%; }

  .welcome h1, .welcome h2 {
    text-align: center; }
  .welcome button {
    float: right;
    margin-top: 50px; }

  .index-row img {
    width: 23.5%;
    margin-left: 2%; }

  .row img {
    width: 32%;
    margin-left: 2%; }
    .row img:nth-of-type(2n) {
      margin-left: 2%; }
    .row img:nth-of-type(1) {
      margin-left: 0; }

  .column-left {
    width: 55%;
    margin-right: 2%;
    float: left; }

  .column-right {
    width: 40%;
    float: right; }

  .address {
    margin: 0;
    width: 95%; }

  .chamber {
    float: right; }

  .second-footer p {
    text-align: center; } }

/*# sourceMappingURL=newpatient.css.map */
