@import 'reset';
@import 'var-and-mixins';
@import 'presets';


/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/
header {
  @include div-bg(100%, $transparent);
  background-color: lighten($color-primary-1, 10%);
}

.menu {
border: $color-primary-2 solid 2px;
border-radius: 5px;
font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size: 1.8em;
padding: 12px;
background-color: $transparent;
margin-bottom: 30px;
float: right;
outline: none;

&:hover {
  background-color: $color-primary-2;
  color: $color-primary-1;
}
}

.logo {
  width: 200px;
  margin: 0 auto 50px auto;
}

.global-aside{
@include div-bg (100%, $color-primary-2);
}
  .global-address { 

    h3{
    color: #F2DD78;
    }

    p {
    color: #FFF;
    border-bottom: 1px solid #F2DD78;
    padding-bottom: 30px;
    }

    a {
    @include link-style ($color-primary-1, $color-primary-1);  
    text-decoration: none;
    display: block;
    margin-bottom: 0;
    }

    button {
    @include button-style ($color-primary-2, $color-primary-1);
    display: block;
    width: 233px;
    margin-top: 30px;
    }
  }

nav {
  display: none;
}

 /*
  ========================================
  GLOBAL Photos
  ========================================
*/

.index-row {
@include div-bg (100%, $transparent);
background-image: url(../assets/img_global/stripepattern1.jpg);
background-repeat: repeat;
border-top: 3px solid $color-primary-2;
border-bottom: 3px solid $color-primary-2;

  
  .index-photo-wrap {
  max-width: 960px;
  margin: 0 auto;
  }
  
  img{
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 5px;
  }
  .photo-1{
  margin-left: 0;
  }
}
/*
  ========================================
  GLOBAL Home
  ========================================
*/
.welcome {
  padding-top: 40px;
  
  .location {
  display: none;
  }

  h2 {
  font-size: 2.5em;
  }
  
  button {
  margin-top: 30px;
  @include button-style ($color-primary-1, $color-primary-2);
  }
}

.below-fold {
  @include div-bg (100%, $color-primary-3);
  overflow: hidden;
}

  .index-copy{
  h2 {
  font-weight: bold;
  }
  
  p{
  @include p-font;
  margin-bottom: 20px;
  }

  a:hover {
    font-weight: bold;
  }
}

iframe{
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  display: block;
  margin-top: 30px;
  border: 3px #3F3A34 solid;
}

.address {
  display: none;
}

/*
  ========================================
  Footer
  ========================================
*/
.chamber{
padding-top: 50px; 
}

footer {
@include div-bg (100%, $color-primary-2); 
padding-top: 30px;
padding-bottom: 30px;

.second-footer {
  display: none;
}
}

.global-footer {
  p{
  @include footer-font;
  }
  
  a {
    @include link-style (#FFF, $color-primary-1);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 35em) {
.menu {
  display: none;
}

header {
  @include header-style;
}

.logo{
  float: left;
  margin: 0;
}

.global-aside {
  display: none;
}

nav{
  display: inline-block;
  float: right;


  li {
    display: inline-block;
    float: right;
    }

  a{
  display: block;
  text-decoration: none;
  }

  img {
  display: block;
  text-align: center;
  margin: 10px auto;
  }

  .nav-icon {
    display: none;
  }
  
  .divider{
  width: 50px;
  padding-top: 10px;
  border: 0;
  border-bottom: 1px solid #3F3A34;
  background-image: url(../assets/greenvilledowntown.jpg);
  }

}
}
@media screen and (min-width: 64em) {
/*
  ========================================
  Header / Nav
  ========================================
*/

header {
  @include header-style;
}
  
.global-aside {
  display: none;
}  

.logo{
  margin: 0 0 0 100px;
  float: left;
}
.subpage-header {
  @include header-style;
  max-height: 280px;
}

nav{
  width:650px;
  float: right;


  li {
    margin-left:20px; 
    float: right;
    display: block;
    }

  a{
  display: block;
  text-decoration: none;
  }

  img {
  display: block;
  text-align: center;
  margin: 10px auto;
  }

  .nav-icon {
    display: none;
  }
  
  .divider{
  width: 650px;
  padding-top: 10px;
  border: 0;
  border-bottom: 1px solid #3F3A34;
  background-image: url(../assets/greenvilledowntown.jpg);
  }

}

 /*
  ========================================
  Photos
  ========================================
*/

.row {
@include div-bg(100%, $transparent);
padding-bottom: 40px;
border-top: 3px solid #3F3A34;
border-bottom: 3px solid #3F3A34;
background-image: url(../assets/img_global/stripepattern1.jpg);
background-repeat: repeat;
  
  .photo-wrap {
  width: 960px;
  margin: 0;
  }
  
  img{
  border: 2px solid #3F3A34;
  display: inline-block;
  margin-left: 40px;
  }
 
  .photo-1{
  margin-left: 0;
  }

  h1 {
  margin-top: 30px;
  }

}

.index-row {
@include div-bg (100%, $color-primary-2);
  
  .index-photo-wrap {
  width: 960px;
  margin: 0 auto;
  }
  
  img{
  display: inline-block;
  margin-left: 45px;
  border-radius: 5px;
  }
  .photo-1{
  margin-left: 0;
  }
}

/*
  ========================================
  Home
  ========================================
*/

.column-left {
  width: 60%;
  float: left;
}

.column-right {
  width: 30%;
  float: right;
}
.welcome { 
  @include div-bg (100%, $transparent);

  h1, h2{
  text-align: center;
  }

  button {
  @include button-style ($color-primary-1, $color-primary-2);
  float: right;
  margin-top: 50px;
  }
}

.below-fold{
  @include div-bg (100%, transparent);
  background-image: url(../assets/img_global/stripepattern1.jpg);
  background-repeat: repeat;
  overflow: hidden;
}


.index-copy{
  background-color: $color-primary-3;
  border-radius: 10px;
  padding:20px;
  
  h2 {
    font-weight: bold;
  }
  p{
  @include p-font;
  margin-bottom: 20px;
  }

  a:hover {
    font-weight: bold;
  }

}

iframe{
  display: block;
  border-radius: 10px;
  float: left;
  margin-top: 30px;
  border: 3px #3F3A34 solid;
}

/*
  ========================================
  Side Items
  ========================================
*/

.address{
width: 80%;
background-color: #3F3A34;
border-radius: 10px;
float: right;
padding: 30px 50px;
display: block;
 
  h3{
   color: #F2DD78;
  }

  p {
  color: #FFF;
  border-bottom: 1px solid #F2DD78;
  padding-bottom: 20px;
  }

  a {
  @include link-style ($color-primary-1, $color-primary-1);  
  text-decoration: none;
  display: block;
  margin-bottom: 0;
  }

  button {
    @include button-style ($color-primary-2, $color-primary-1);
    margin: 20px auto;
  }
}

.chamber{
padding-top: 50px; 
float: right;
}

/*
  ========================================
  Footer
  ========================================
*/
footer {
@include div-bg (100%, $color-primary-2); 
padding-top: 30px;
padding-bottom: 30px;
  
  p{
  @include footer-font;
  }
  
  a {
    @include link-style (#FFF, $color-primary-2);
  }
}

/*
  ========================================
  About
  ========================================
*/

.about {

  h2{
  margin-top: 30px;
  font-weight: bold;
  }

  .first {
    margin-top: 0;
  }

  span{
  font-weight: bold;
  } 

  li {
    @include p-font;
    display: block;
    background-image: url(../assets/icons_global/toothservices.png);
    background-repeat: no-repeat;
    list-style-position: inside;
    margin-left: 1em;
    padding-left: 2.5em;
    margin-top: 15px;
    line-height: 30px;
    }
}

/*
  ========================================
  Services 
  ========================================
*/
.services {
  h2 {
    font-weight: bold;
  }

  p {
  margin-bottom: 25px;
  }

  li {
  @include p-font;
  height: 70px;
  width: 130px;
  float: left;
  display:block;
  background-image: url(../assets/icons_global/toothservices.png);
  background-repeat: no-repeat;
  padding-left: 2.2em;
  margin-bottom: 10px;
  margin-right: 5%;
  }
}

/*
  ========================================
  Financial Page
  ========================================
*/

.financial {
  border-top: 3px solid #3F3A34;
  h2 {
    font-weight: bold;
  }

  p{
  margin-bottom: 30px;
  }
}

/*
  ========================================
  Patients
  ========================================
*/
.patients {

 .sidenote{
  font-style: italic;
  font-size: 12px;
  display: block;
  }

  h2{
  margin-top: 30px;
  font-weight: bold;
  }
  
  .first {
  margin-top: 0;
  }
  
  p, ul {
    margin-bottom: 20px;
  }

  .list {
    margin-bottom: 0px;
  }

  ul{
  padding-left: 3em; 
  }

  li{
  @include p-font;
  list-style-type: disc;
  line-height: 2;
  }

  button{
    @include button-style ($color-primary-1, $color-primary-2);
    float: left;
    margin: 20px 0 20px 40px;
  }

  .button-1 {
    margin-left: 0;
  }
}
}