@import 'reset';
@import 'var-and-mixins';
@import 'presets';


/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/
header {
  @include div-bg(100%, $transparent);
  background-color: lighten($color-primary-1, 10%);
}

.menu {
border: $color-primary-2 solid 2px;
border-radius: 5px;
font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size: 1.8em;
padding: 12px;
background-color: $transparent;
margin-bottom: 30px;
float: right;
outline: none;

  &:hover {
  background-color: $color-primary-2;
  color: $color-primary-1;
  }
}

.logo {
  max-width: 200px;
  margin: 0 auto 50px auto;
}

.global-aside{
@include div-bg (100%, $color-primary-2);
}
  .global-address { 

    h3{
    color: #F2DD78;
    }

    p {
    color: #FFF;
    border-bottom: 1px solid #F2DD78;
    padding-bottom: 30px;
    }

   a {
    @include link-style (#FFF, $color-primary-1);  
    display: block;
    margin-bottom: 0;
  }
    button {
    @include button-style ($color-primary-2, $color-primary-1);
    display: block;
    width: 233px;
    margin-top: 30px;
    }
  }

nav {
  display: none;
}

.column-left, .column-right {
  width: 100%;
  margin-right: 0;
  float: none;
}
 /*
  ========================================
  GLOBAL Photos
  ========================================
*/

.index-row, .row {
@include stripe-style; 
  
  .index-photo-wrap, .photo-wrap {
  max-width: 960px;
  margin: 0 auto;
  }
  
  img{
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 5px;
  }
  .photo-1{
  margin-left: 0;
  }
}

  h1 {
  margin-top: 30px;
  }
/*
  ========================================
  GLOBAL Home
  ========================================
*/
.welcome {
  .location {
  display: none;
  }

  h2 {
  font-size: 2.5em;
  }
  
  button {
  margin-top: 30px;
  @include button-style ($color-primary-1, $color-primary-2);
  }
}

.below-fold {
@include div-bg (100%, $color-primary-3);overflow: hidden;
}

.index-copy a:hover {
font-weight: bold;
}


iframe{
width: 100%;
max-width: 300px;
min-height: 300px;
display: block;
margin-top: 30px;
border: 3px #3F3A34 solid;
}

.address {
  display: none;
}

/*
  ========================================
  GLOBAL About
  ========================================
*/

.about {
  
  h2 {
    margin-top: 30px;
  }

  .first {
    margin-top: 0;
  }

  span{
  font-weight: bold;
  } 

  li {
    @include li-font;
    line-height: 30px;
    margin-left: 1em;
    margin-top: 20px;
    }
}

/*
  ========================================
  GLOBAL Services
  ========================================
*/
.services {
  overflow: hidden;

  li {
  @include li-font;
  height: 70px;
  width: 130px;
  float: left;
  margin-bottom: 40px;
  margin-right: 5%;
  }
}

/*
  ========================================
  GLOBAL Financial  ========================================
*/
 .sidenote{
  font-style: italic;
  font-size: 12px;
  display: block;
  }

.financial {
  border-top: 3px solid #3F3A34;

}

/*
  ========================================
  GLOBAL Patients
  ========================================
*/
.patients {
  
  h2 {
    margin-top: 30px;
  }
  
  .first {
  margin-top: 0;
  }
  
  ul {
    margin-bottom: 20px;
    padding-left: 3em; 

  }

  .list {
    margin-bottom: 0px;
  }

  li{
  @include p-font;
  list-style-type: disc;
  line-height: 1.6
  }

  button{
    @include button-style ($color-primary-1, $color-primary-2);
    display: block;
    margin: 30px 0 20px 0px;
  }

  .button-1 {
    margin-left: 0;
  }
}
/*
  ========================================
  GLOBAL Footer
  ========================================
*/
.chamber{
  padding-top: 50px; 
  }

footer {
  @include div-bg (100%, $color-primary-2); 
  padding-top: 30px;
  padding-bottom: 30px;

  .second-footer {
    display: none;
  }
}

.global-footer {
  p{
  @include footer-font;
  }
  
  a {
    @include link-style (#FFF, $color-primary-1);
  }
}

@import 'mediaqueries';